.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 30%;
    padding: 40px;
    background: rgb(245, 242, 231, 0.4);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    /* color: #fff; */
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #F5F2E7;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: -23px;
    left: 0;
    padding: 10px 0;
    font-size: 12px;
    color: #03e9f4;
    pointer-events: none;
    background-color: transparent;
}

.errorMessage-login {
    font-size: 13px;
    text-transform: capitalize;
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.buttonSubmit {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(38, 102, 207);
}

.buttonSubmit:hover {
    background-color: rgb(0, 72, 189);
}

.buttonSubmit-signin {
    padding: 10px;
    background: none;
    color: white;
}

.form-button {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .login-box {
        width: 80%;
        padding: 40px;
    }
  }