.container-table{
    margin-bottom: 200px;
}

.container-table table {
    margin: auto;
    margin-top: 50px;
    width: 75%;
    padding: 10px;
}

.container-table table thead th {
    padding: 15px 20px;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.1);
    text-transform: capitalize;
    font-weight: bold;
}

.container-table table tbody tr {
    border-bottom: 1px groove rgb(221, 221, 221);
}

.container-table table tbody tr a {
    text-decoration: none;
}
.container-table table tbody tr a:hover {
    text-decoration: underline;
}

.container-table table tbody tr td {
    padding: 15px 10px;
    text-align: center;
}
.container-table table tbody tr td input{
    padding: 5px;
    text-align: center;
    width: 150px;
    background-color: rgb(255, 255, 255, .1);
    color: white;
    border: 1px groove white;
    border-radius: 3px;
}

/* .container-table table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.01);
} */



.pagination-container{
    display: grid;
    justify-items: center;
}

.pagination-container p {
    font-size: 12px;
    padding: 50px;
    padding-bottom: 10px;
    margin: 0;
}

.pagination{
    padding: 20px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.pagination {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}


.pagination button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px;
    font-size: 15px;
}
.pagination>button:hover{
    background-color: rgba(255, 255, 255, 0.152);
    padding: 10px;
}
.pagination>.existpage{
    background-color: #0dcaf041;
    padding: 12px;
}
.pagination>.existpage:hover{
    background-color: #0dcaf041;
    padding: 12px;
}