<style>

.navMenu {
  padding: 50px 0 0 10px
}

.navMenu a {
  color: #f6f4e6
  text-decoration: none
  /* font-size: 1.2em */
  text-transform: uppercase
  font-weight: 500
  display: inline-block
  width: 80px
  -webkit-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out
}

.navMenu a:hover {
  color: #fddb3a
}

.navMenu #clock{
  float: right
}

</style>

    <nav class="navMenu">
      <a href="?tab=pw">PW</a>
      <a href="?tab=doc">Doc</a>
      <a href="?tab=">Crypto</a>
      <span id="clock"></span>
    </nav>
  
    <script>
      window.addEventListener("load", () => {
  clock()
  function clock() {
    const today = new Date()

    // get time components
    const hours = today.getHours()
    const minutes = today.getMinutes()
    const seconds = today.getSeconds()

    //add '0' to hour, minute & second when they are less 10
    const hour = hours < 10 ? "0" + hours : hours
    const minute = minutes < 10 ? "0" + minutes : minutes
    const second = seconds < 10 ? "0" + seconds : seconds


    // get date components
    const month = today.getMonth()
    const year = today.getFullYear()
    const day = today.getDate()

    //declaring a list of all months in  a year
    const monthList = [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ]

    //get current date and time
    const date = `${monthList[month]} ${day}, ${year}`
    const time = `${hour}:${minute}:${second} `


    //print current date and time to the DOM
    document.getElementById("clock").innerHTML = date + " - " + time
    setTimeout(clock, 1000)
  }
})
    </script>