<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./template/head.ejs') %> 
</head>
<body>

  <%#= JSON.stringify(data) %> 

  <center>

    <h1 style="margin-top: 50px">Log in</h1>

    <div style="width: 55% padding-top: 50px">
      <form action="/login" method="post">

        <!-- User name -->
        <div class="form-group row">
          <label for="text" class="col-sm-2 col-form-label">User name</label>
          <div class="col-sm-10">
            <input
              type="text"
              name="user_name"
              id="user_name"
              class="form-control"
              placeholder="user name"
              required autocomplete="off"
            />
          </div>
        </div>

        <!-- password -->
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10" style="display: flex">
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="password" autocomplete="off"
            />
          </div>
        </div>

     

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </center>


</body>
</html>