.Modal-Root {
    position: fixed;
    top: 0;
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.053);
}
.modal-container {
    opacity: 0;
    animation: fadeIn 200ms ease-in both;
    animation-delay: 100ms;
    overflow-y: scroll;
    padding: 50px;
    width: 50%;
    height: 100%;
    background-image: url('http://localhost:40101/image/header-bg.jpg');
    border-radius: 10px;
}
.modal-container>h1 {
    text-align: center;
    position: relative;
    top: -20px;
}
.groub-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.groub-form input {
    background-color: rgba(255, 255, 255, 0.11);
    padding: 10px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 5px;
    width: 80%;
    color: white;
}
.groub-form>select{
    padding: 10px;
    right: 20px;
}
.random-password {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.random-password input {
    width: 100%;
}
.notes-container {
    display: grid;
}
.notes-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notes-container .notes-area {
    width: 100%;
    height: 300px;
    background: white;
    color: black;
    overflow-y: scroll;
}
.notes-container .notes-area textarea {
    font-family: monospace;
    width: 100%;
    height: 100%;
    border: none
}
.notes-container summary {
    top: -20px;
    position: relative;
    left: 50px;
}
.button-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .modal-container {
        width: 80%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -1%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}