.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.navMenu {
    /* background: rgb(245, 242, 231, 0.2); */
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-family: inherit;
    width: 50%;
}

.navMenu a {
    font-size: 16px;
    color: white;
    /* font-weight: bolder; */
    text-transform: uppercase;
    text-decoration: none;
}
.navMenu a:hover{
    color: rgb(255, 208, 0);
}

